# Ignore all dotfiles...
.*
# except for .gitignore
!.gitignore

# Ignore Play! working directory #
db
data
eclipse
lib
log
logs
modules
precompiled
project/project
project/target
target
tmp
test-result
server.pid
*.iml
*.eml
dist
/*.iml
/out
/RUNNING_PID
/.settings
/.builds
/.git_checkouts
/.index
/*.sh
conf/aws.conf
conf/client_secrets.json
publish.sbt
Dockerfile