html {
    background: #eee;
}

header h1 {
    padding: 0.4em 1.1em;
    color: white;
    font-weight: normal;
    font-size: 24px;
}

.navbar-user {
    background-color: #00538A;
    border-color: #00538A;
    background-image: linear-gradient(to bottom, #005C99 0px, #00538A 100%);
    background-repeat: repeat-x;
}
.navbar-user li a {
    color: #FFFFFF;
}
.navbar-user li a:hover, .navbar-user li a:focus {
    background-color: #3375A1 !important;
}

#main {
    position: relative;
    border-bottom: 1px solid #ccc;
    min-height: 600px;
}

section#main form.rtm-search input.search-query {
    height: 28px;
    font-size: 15px;
}

#main form.rtm-search .btn-lg {
    font-size: 17px;
}

tr.project {
    background: none repeat scroll 0 0 #FFFFFF;
}

#wrap {
    height: auto;
    margin: 0 auto -60px;
    min-height: 100%;
    padding: 0 0 60px;
}

#footer {
    background-color: #F5F5F5;
    height: 60px;
}

#profile-page #profile-details img {
    display: block;
    padding-bottom: 4px;
}

.divider {
    border: 1px solid #BFBFBF;
    margin: 5px 0px;
    width: 100%;
}

.view-docs-dropdown {
    padding: 2px;
}

.view-docs-dropdown li a {
    color: #444444;
    font-size: 16px;
    padding-left: 5px;
    text-decoration: underline;
}

span.help-block {
    color: #C09853;
}
span.help-inline {
    color: #B94A48;
}

.highlight {
    background-color: #FFFF00;
}

.editable-buttons {
    left: -80px;
    position: relative;
}
