@(userProjects: Seq[dao.ProjectWithAuthors])

<div class="well">
    <table class="projects table table-bordered">
        <tbody>
        @userProjects.map { project =>
        <tr class="project">
            <td>
                <a href='@routes.ProjectController.project(project.slug)'><strong>@project.name</strong></a>
                @if(!project.authors.isEmpty){
                (@{Html(project.authors.map { author =>
                val authorProfileLink = routes.Application.profile(author.username).toString
                <a class="text-muted" href={authorProfileLink}>{author.username}</a>
                }.mkString(", "))})
                }
                <div class="pull-right">
                    @util.TemplateUtil.displayTimeSince(project.updated)
                    @viewDocs(project)
                </div>
            </td>
        </tr>
        }
        </tbody>
    </table>
</div>