@(currentFile: models.File, project: models.Project, version: String, content: Html, filesByDir: Map[String, Seq[models.File]])

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@currentFile.title — @project.name @version documentation</title>

    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">

    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("css/bootstrap-theme-3.0.2.min.css")">
    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("css/bootstrap-3.0.2.min.css")">
    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("css/docs.css")">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div id="wrapper">

    <!-- Sidebar -->
    <div id="wrap">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <div class="side-nav-search">
                        <a href="@routes.ProjectController.project(project.url_key)">
                            <span class="glyphicon glyphicon-home" style="left: -2px;"></span>@project.name
                        </a>
                        @helper.form(action=routes.ApplicationController.searchProjectVersion(project.url_key, version), 'class -> "form-search", 'role -> "form") {
                        <div class="form-group">
                            <input type="text" id="searchbox" class="search-query form-control" name="filter" placeholder="Search Docs">
                        </div>
                        }
                    </div>
                </li>
                @filesByDir.map { dirAndFiles =>
                <li class="file">
                @if("".equals(dirAndFiles._1)) {
                <span>@dirAndFiles._1</span>
                <ul>
                @dirAndFiles._2.map { file =>
                <li class="file"><a href="@routes.StaticDocsController.projectDocs(project.url_key, version, file.url_key)">@file.title</a></li>
                }
                </ul>
                } else {
                <span data-toggle="collapse" data-target='#dir-@(dirAndFiles._1.replaceAll("/","-"))'>@dirAndFiles._1</span>
                <ul id='dir-@(dirAndFiles._1.replaceAll("/","-"))' class="collapse">
                    @dirAndFiles._2.map { file =>
                    <li class="file"><a href="@routes.StaticDocsController.projectDocs(project.url_key, version, file.url_key)">@file.title</a></li>
                    }
                </ul>
                }
                </li>
                }
            </ul>
        </div>
        <div class="panel-group" id="footer-accordion">
            <div class="panel panel-default">
                <div id="accordion-panel-heading" class="panel-heading" data-toggle="collapse" data-target="#project-info">
                    <span class="panel-title">
                        <span class="glyphicon glyphicon-book"></span> Read the Markdown
                        <span class="pull-right">
                            <strong style="color: #2980B9; padding-right: 2px;">v: @version</strong><span id="chevron-toggle" class="glyphicon glyphicon-chevron-up"></span>
                        </span>
                    </span>
                </div>
                <div id="project-info" class="panel-collapse collapse">
                    <div class="panel-body">
                        <dl>
                            <dt>Versions</dt>
                            @project.versions.map { ver =>
                            @if(ver.equals(version)){
                            <strong>
                                <dd><a href="@routes.StaticDocsController.projectIndex(project.url_key, ver)">@ver</a></dd>
                            </strong>
                            } else {
                            <dd><a href="@routes.StaticDocsController.projectIndex(project.url_key, ver)">@ver</a></dd>
                            }
                            }
                        </dl>
                        <dl>
                            <dt>Downloads</dt>
                            <dd><a href="@routes.StaticDocsController.pdf(project.url_key, version)">PDF</a></dd>
                        </dl>
                        <dl>
                            <dt>On Read the Markdown</dt>
                            <dd>
                                <a href="@routes.ProjectController.project(project.url_key)">Project Home</a>
                            </dd>
                        </dl>
                        <hr>
                        Copyright 2013. Created by Graham Rhodes.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Page content -->
    <div id="page-content-wrapper">
        <div class="content-header">
            <ol class="breadcrumb">
                <li><a href="@routes.ProjectController.project(project.url_key)">@project.name</a></li>
                <li><a href="@routes.StaticDocsController.projectIndex(project.url_key, version)">Docs</a></li>
                @if(currentFile.relative_path.contains("/")) {
                @currentFile.relative_path.split("/").map { path =>
                <li class="active"><a href="">@path</a></li>
                }
                }
                <li class="active"><a href="@routes.StaticDocsController.projectDocs(project.url_key, version, currentFile.url_key)">@currentFile.title</a></li>
            </ol>
        </div>
        <!-- Keep all page content within the page-content inset div! -->
        <div class="page-content inset">
            <div class="row">
                <div class="col-md-12">
                    <pre id="docs-pre-content">@content</pre>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- JavaScript -->
<script src="@routes.Assets.at("js/jquery-2.0.3.min.js")"></script>
<script src="@routes.Assets.at("js/bootstrap-3.0.2.min.js")"></script>
<script>
  function toggleChevron(e) {
    $(e.target)
    .prev('.panel-heading')
    .find('span#chevron-toggle')
    .toggleClass('glyphicon-chevron-down glyphicon-chevron-up');
  }
  $('#footer-accordion').on('hidden.bs.collapse', toggleChevron);
  $('#footer-accordion').on('shown.bs.collapse', toggleChevron);
</script>
</body>
</html>