@(createSwaggerResourceForm: Form[SwaggerImportData], createSwaggerApiForm: Form[SwaggerImportData],
  userProjects: Seq[models.Project], loginForm: Form[Option[models.User]])(implicit flash: Flash, currentUser: Option[models.User])

@import helper.twitterBootstrap._

@main("", loginForm) {
<div class="container" style="margin-top: 20px;" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        @currentUser.map { user =>
        <h3>Import a Swagger Resource Listing File</h3>
        @helper.form(action=routes.ProjectController.createProjectSwaggerResource) {
        @createSwaggerResourceForm.globalError.map { error =>
        <p class="form-group text-danger">@error.message</p>
        }
        @flash.get("success").map { message =>
        <p class="form-group text-success">@message</p>
        }
        @flash.get("failure").map { message =>
        <p class="form-group text-danger">@message</p>
        }
        <button class="btn btn-primary" style="margin: 20px 0px;" type="submit">Create Resource Listing</button>
        <div id="resource-project" class="form-group">
            @helper.input(createSwaggerResourceForm("project"), '_label -> "Project") { (id, name, value, args) =>
            <select name="@name" id="@id" class="form-control" @toHtmlArgs(args)>
            @userProjects.map { project =>
            <option value="@project.url_key">@project.name</option>
            }
            </select>
            }
        </div>
        <div id="resource-versions" class="form-group">
            @helper.input(createSwaggerResourceForm("version"), '_label -> "Project Version") { (id, name, value, args) =>
            <select name="@name" id="@id" class="form-control" @toHtmlArgs(args)>
            @userProjects.headOption.map(_.versions).map { versions =>
            @versions.map { version =>
            <option>@version</option>
            }
            }
            </select>
            }
        </div>
        <div class="form-group">
            @helper.input(createSwaggerResourceForm("json"), '_label -> "Swagger Resource Listing JSON") { (id, name, value, args) =>
            <textarea rows="3" name="@name" id="@id" class="form-control" placeholder="Description" @toHtmlArgs(args)>
            @value
            </textarea>
            }
        </div>
        <button class="btn btn-primary" style="margin: 20px 0px;" type="submit">Create Resource Listing</button>
        }
        }.getOrElse {
        <em>Please Login.</em>
        }
    </div>
    <div class="row">
        @currentUser.map { user =>
        <h3>Import a Swagger Api Listing File</h3>
        @helper.form(action=routes.ProjectController.createProjectSwaggerApi) {
        @createSwaggerApiForm.globalError.map { error =>
        <p class="form-group text-danger">@error.message</p>
        }
        @flash.get("success").map { message =>
        <p class="form-group text-success">@message</p>
        }
        @flash.get("failure").map { message =>
        <p class="form-group text-danger">@message</p>
        }
        <button class="btn btn-primary" style="margin: 20px 0px;" type="submit">Create Api Listing</button>
        <div id="api-project" class="form-group">
            @helper.input(createSwaggerApiForm("project"), '_label -> "Project") { (id, name, value, args) =>
            <select name="@name" id="@id" class="form-control" @toHtmlArgs(args)>
            @userProjects.map { project =>
            <option value="@project.url_key">@project.name</option>
            }
            </select>
            }
        </div>
        <div id="api-versions" class="form-group">
            @helper.input(createSwaggerApiForm("version"), '_label -> "Project Version") { (id, name, value, args) =>
            <select name="@name" id="@id" class="form-control" @toHtmlArgs(args)>
            @userProjects.headOption.map(_.versions).map { versions =>
            @versions.map { version =>
            <option>@version</option>
            }
            }
            </select>
            }
        </div>
        <div class="form-group">
            @helper.input(createSwaggerApiForm("json"), '_label -> "Swagger Api Listing JSON") { (id, name, value, args) =>
            <textarea rows="3" name="@name" id="@id" class="form-control" placeholder="Description" @toHtmlArgs(args)>
            @value
            </textarea>
            }
        </div>
        <button class="btn btn-primary" style="margin: 20px 0px;" type="submit">Create Api Listing</button>
        }
        }.getOrElse {
        <em>Please Login.</em>
        }
    </div>
    <script>
        $(document).ready(function(){
            $('#resource-project select').change(function(){
                var project = $(this).val();
                if(project){
                    $.ajax({
                        type:"GET",
                        url: jsRoutes.controllers.ProjectController.projectVersions(project).url,
                        success:function(data){
                            $('#resource-versions select').empty();
                            $.each(data, function(index, value) {
                                $('#resource-versions select').append('<option>' + value + '</option>');
                            });
                        }
                    });
                }
            });

            $('#api-project select').change(function(){
                var project = $(this).val();
                if(project){
                    $.ajax({
                        type:"GET",
                        url: jsRoutes.controllers.ProjectController.projectVersions(project).url,
                        success:function(data){
                            $('#api-versions select').empty();
                            $.each(data, function(index, value) {
                                $('#api-versions select').append('<option>' + value + '</option>');
                            });
                        }
                    });
                }
            });
        });
    </script>
</div>
}
