@(recentlyUpdatedProjects: Seq[models.ProjectAuthorsAndBuilds], loginForm: Form[Option[models.User]])(implicit flash: Flash, currentUser: Option[models.User])

@import tags._

@main("", loginForm) {
<div class="container center" style="margin-top: 50px;">
    <div>
        <h3>Recently Updated Projects
            <small><a href="@routes.ProjectController.projects">(All Projects)</a></small>
        </h3>
    </div>
    <div class="row">
        @Option(recentlyUpdatedProjects).map { prjs =>
            @projects(prjs)
        }.getOrElse {
        <div class="well">
            <em>No recently updated projects :(</em>
        </div>
        }
    </div>
</div>
}
