@(currentFilter: String, loginForm: Form[Option[models.User]], scriptsAndLinks: Option[Html] = None)(content: Html)(implicit flash: Flash, currentUser: Option[models.User])

@header = {
@currentUser.map { loggedInUser =>
<div class="navbar-collapse collapse">
    <div class="navbar-right">
        <p class="navbar-btn text-muted" style="display: inline-block; padding-right: 10px;">@loggedInUser.username</p>
        <a href="@routes.ApplicationController.dashboard" class="btn btn-primary navbar-btn" type="submit">Dashboard</a>
        <a href="@routes.AuthenticationController.logout" class="btn btn-primary navbar-btn" type="submit">Logout</a>
    </div>
</div>
}.getOrElse {
<div class="navbar-collapse collapse">
    <div class="navbar-right">
        @helper.form(action=routes.AuthenticationController.authenticate, 'class -> "navbar-form") {
        @loginForm.globalError.map { error =>
        <p class="form-group text-danger">@error.message</p>
        }
        @flash.get("success").map { message =>
        <p class="form-group text-success">@message</p>
        }
        <a href="@routes.AuthenticationController.loginWithGoogle" class="zocial google">Sign in with Google</a>
        <a href="@routes.AuthenticationController.signUp" class="btn btn-primary navbar-btn" type="submit">Sign Up!</a>
        <div class="form-group">
            <input type="email" class="form-control" placeholder="Email" name="email" value='@loginForm("email").value'>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Password">
        </div>
        <button class="btn btn-primary" type="submit">Sign in</button>
        }
    </div>
</div>
}
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Giles</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">

        <link rel="stylesheet" type="text/css" media="screen" href='@routes.Assets.at("css/bootstrap-theme-3.0.2.min.css")'>
        <link rel="stylesheet" type="text/css" media="screen" href='@routes.Assets.at("css/bootstrap-3.0.2.min.css")'>
        <link rel="stylesheet" type="text/css" media="screen" href='@routes.Assets.at("css/main.css")'>
        @scriptsAndLinks.map { scriptsAndStyles =>
        @scriptsAndStyles
        }
        <link rel="stylesheet" type="text/css" media="screen" href='@routes.Assets.at("css/zocial.css")'>
        <link rel="stylesheet" type="text/css" media="screen" href='@routes.Assets.at("css/bootstrap-editable.css")'>
        <link rel="stylesheet" type="text/css" media="screen" href='@routes.Assets.at("css/bootstrap-wysihtml5-0.0.2.css")'>
        <link href='//fonts.googleapis.com/css?family=Pompiere' rel='stylesheet' type='text/css'>

        <script type="text/javascript" src="@routes.ApplicationController.javascriptRoutes"></script>
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script type="text/javascript" src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script type="text/javascript" src="//oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

        <script type="text/javascript" src='@routes.Assets.at("js/jquery-2.0.3.min.js")'></script>
        <script type="text/javascript" src='@routes.Assets.at("js/bootstrap-3.0.2.min.js")'></script>
        <script type="text/javascript" src='@routes.Assets.at("js/bootstrap-editable.min.js")'></script>
        <script type="text/javascript" src='@routes.Assets.at("js/wysihtml5/wysihtml5-0.3.0.min.js")'></script>
        <script type="text/javascript" src='@routes.Assets.at("js/wysihtml5/bootstrap-wysihtml5-0.0.2.min.js")'></script>
        <script type="text/javascript" src='@routes.Assets.at("js/wysihtml5/wysihtml5.js")'></script>
        <script type="text/javascript" src='@routes.Assets.at("js/ZeroClipboard.min.js")'></script>
        <script type="text/javascript" src='@routes.Assets.at("js/main.js")'></script>

    </head>
    <body>
        <div id="wrap">
                <div role="navigation" class="navbar navbar-inverse navbar-fixed-top">
                    <div class="navbar-header">
                        <img src='@routes.Assets.at("img/Giles.gif")' style="width: 50px; margin-top: 5px; float: left;"/>
                        <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="@routes.ApplicationController.index" class="navbar-brand" style="color: #FFF; margin-top: 5px;">Giles</a>
                    </div>
                    @header
                </div>
                @currentUser.map { loggedInUser =>
                <nav class="navbar navbar-user navbar-fixed-top" role="navigation" style="margin-top: 50px; margin-bottom: 50px">
                    <div class="container">
                        <div class="collapse navbar-collapse">
                            <ul class="nav navbar-nav">
                                <li><a href="@routes.ApplicationController.dashboard">Projects</a></li>
                                <li><a href="@routes.ProjectController.importProject">Import Project</a></li>
                                <!--<li><a href="@routes.ProjectController.importSwagger">Import Project Swagger Resources</a></li> -->
                                <li><a href="@routes.AuthenticationController.profile(loggedInUser.username)">Profile</a></li>
                                <!--<li><a href="@routes.PublicationController.publicationsForUser(loggedInUser.username)">Publications</a></li>-->
                                <!--<li><a href="@routes.PublicationController.create">Create Publication</a></li>-->
                            </ul>
                        </div>
                    </div>
                </nav>
                }
            <div id="main" style="padding: 120px 5px;">
                <div class="container">
                    @helper.form(action=routes.ApplicationController.search(), 'class -> "rtm-search form-search", 'role -> "form") {
                    <div class="input-group">
                        <input type="search" id="searchbox" class="search-query input-lg form-control" name="filter" value="@currentFilter" placeholder="Search all documents...">
                        <span class="input-group-btn">
                            <button id="searchsubmit" class="btn btn-lg btn-primary" type="submit">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                    }
                </div>
                @content
            </div>
        </div>
        <div id="footer">
            <div class="container">
                <p class="text-muted credit text-center">Copyright 2013 Gilt Groupe, Inc.</p>
            </div>
        </div>
    </body>
</html>
