@(user: models.User, userProjects: Seq[models.ProjectAuthorsAndBuilds], loginForm: Form[Option[models.User]])(implicit flash: Flash, currentUser: Option[models.User])

@import tags._

@main("", loginForm) {
<div id="profile-page" class="container" style="margin-top: 50px;">
    <div id="profile-details" class="col-md-3">
        <div class="col-md-10">
            @gravatar(user.email)
            <span class="divider col-md-1"></span>
            <h4>@user.first_name @user.last_name</h4>
            <h5 class="text-muted">(@user.username)</h5>
            @user.homepage.map{ hp =>
            <span class="divider col-md-1"></span>
            <a href="@hp">@hp</a>
            }
        </div>
    </div>
    <div class="col-md-9 well">
        <table class="projects table table-bordered">
            <tbody>
            @userProjects.map { projectAndBuilds =>
            <tr class="project">
                <td>
                    <a href='@routes.ProjectController.project(projectAndBuilds.project.url_key)'><strong>@projectAndBuilds.project.name</strong></a>
                    @if(!projectAndBuilds.authors.isEmpty){
                    (@{Html(projectAndBuilds.authors.map { author =>
                    <a class="text-muted" href="#">{author.username}</a>
                    }.mkString(", "))})
                    }
                    <div class="pull-right">
                        @viewDocs(projectAndBuilds)
                    </div>
                </td>
            </tr>
            }
            </tbody>
        </table>
    </div>
</div>
}
