@(projectAndBuilds: models.ProjectAuthorsAndBuilds, loginForm: Form[Option[models.User]])(implicit flash: Flash, currentUser: Option[models.User])

@main("", loginForm) {
<div class="container" style="margin-top: 20px;">
    <div class="jumbotron">
        <div class="container">
            <h1>@projectAndBuilds.project.name</h1>
            <p>@if(!projectAndBuilds.project.author_usernames.isEmpty){
            (@{Html(projectAndBuilds.project.author_usernames.map { author =>
            val authorProfileLink = routes.AuthenticationController.profile(author).toString
            <a class="text-primary" href={authorProfileLink}>{author}</a>
            }.mkString(", "))})
            }</p>
        </div>
    </div>
    <div>
        @helper.form(action=routes.ApplicationController.searchProject(projectAndBuilds.project.url_key), 'class -> "rtm-search form-search", 'role -> "form") {
        <div class="input-group">
            <input type="search" id="searchbox" class="search-query input-lg form-control" name="filter" placeholder="Search @projectAndBuilds.project.name">
            <span class="input-group-btn">
                <button id="searchsubmit" class="btn btn-lg btn-primary" type="submit">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
        }
    </div>
    <h3>Description</h3>
    <p><!--TODO Project Description--></p>
    <span class="divider col-md-1" style="margin-bottom: 20px;"></span>
    <div>
        <div class="col-md-9">
            <form class="form-inline" role="form" style="margin-bottom: 20px;">
                <a href='@routes.ProjectController.pullNewVersions(projectAndBuilds.project.url_key)' class="btn btn-info">Pull New Versions</a>
            </form>
            <div class="well">
                <table class="table table-bordered">
                    <tbody>
                        @projectAndBuilds.builds.map { build =>
                        <tr class="project">
                            <td>
                                <a href='@routes.StaticDocsController.projectIndex(projectAndBuilds.project.url_key, build.version)'>
                                    <strong>@build.version</strong>
                                </a>
                                @if(!build.authors.isEmpty){
                                (@{Html(build.authors.map { author =>
                                val authorProfileLink = routes.AuthenticationController.profile(author).toString
                                <a class="text-muted" href={authorProfileLink}>{author}</a>
                                }.mkString(", "))})
                                }
                                @{build.status match {
                                  case "failure" =>
                                    <span class="text-danger" style="padding-left: 2px;">(Build Failed)</span>
                                    <p class="text-danger">{build.message}</p>
                                  case _ =>
                                }}
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-3">
            <!--TODO Project Details go here-->
        </div>
    </div>
</div>
}