@(results: Seq[build.ProjectSearchResult], currentFilter: String, loginForm: Form[Option[models.User]])(implicit flash: Flash, currentUser: Option[models.User])

@main(currentFilter, loginForm) {
<div class="container" style="margin-top: 50px;">
    <div class="row">
        <div class="well">
            <table class="projects table table-bordered">
                <tbody>
                    @results.map { result =>
                    <tr class="project">
                        <td>
                            <div>
                                <a href='@routes.StaticDocsController.projectDocs(result.projectUrlKey, result.projectVersion, result.fileUrlKey)'><strong>@result.fileTitle</strong></a>
                                <span class="pull-right" style="color: #0066FF">
                                    <strong>@result.projectVersion</strong>
                                </span>
                            </div>
                            <div>
                                @result.hits.take(5).map { hit =>
                                    <span>@Html({hit})</span>
                                }
                            </div>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
}
